@model IEnumerable<SFC.Models.SFC.Inst.Alunos>

@{
    ViewBag.Title = "RealizarAvaliacao";
}

<h2>Instituições que podem ser avaliadas</h2>
<h5>Nota : A avaliação apenas pode ser realizada 30dias depois do seu filho ser registado na Instituição</h5>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Filhos.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Instituicao.Nome)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Filhos.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Instituicao.Nome)
        </td>
        <td>
            @if ((DateTime.Now.Date - item.DataDeRegisto).Days == 0){@Html.ActionLink("Avaliar", "AvaliarInstituicao", "User_Pais", new { idInstituicao = item.InstituicaoID , idFilho = item.AlunosID }, null)}
        </td>
    </tr>
}
</table>
